<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>Details</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-row class="">

    <img src="assets/img/mirajfood.PNG" >

  </ion-row>

    <ion-text class="title">

      <h2>Miraj Restaurant</h2> 
      <p>M-City Jalan Ampang</p> <br>

    </ion-text>


    <ion-item lines="none">

      <ion-icon name="chatbubble-outline"></ion-icon> 
      <h2>Description </h2>

    </ion-item>

    <p>Miraj is a middle east restaurant open from 10 a.m. to 10 p.m. everyday </p>


    <ion-button fill="solid" expand='block' >BOOK</ion-button>


  




</ion-content>
