ion-content{

    --ion-background-color:#141a26;
}


ion-text.title{
    text-align: center;
    text-justify: auto;

}

ion-icon{
    color:#d92528;
}


h2{

    color: #d92528;
    padding-left: 10px;
    padding-top: 0px;
   
}

h5{

    font-size: medium;
    color:#d92528;
    padding-left: 10px;
    padding-top: 0px;
    padding-right: 10px;
 

}

h6{
    font-size: small;
    color:white;
    padding-left: 10px;
    padding-top: 0px;
    padding-right: 10px;

}

p{
    font-size: small;
    color:white;
    padding-left: 10px;
    padding-top: 0px;
    padding-right: 10px;
    text-align: justify;
    text-justify: inter-word;
   
}


ion-footer{


    ion-toolbar{

        --background:#141a26;
        --border-width: 0;
        --padding-bottom: 10px;
        

        ion-button{
            --background:#354055; 
            --border-color:  #d92528;
            --border-radius: 9px;
            --border-width: 5px;
            --background-hover: #d92528;
            --background-hover-opacity: 100%;
            --background-activated: #d92528c0;
        }

    }

}