ion-tab-bar, ion-tab-button{
    background-color: #252a34;
   }
   
   ion-icon{
    //  color: #d92528;
    size: 20%;
   }

   .tab-button {
    min-width: 150px;
 }

//    ion-label{
//     color:#f4971f;
//    }