ion-content{

    --ion-background-color:#141a26;

    ion-button{
        --background: #d15759;
        --background-hover: #d92528;
        --background-hover-opacity: 100%;
        --border-radius: 9px;
        --border-width: 5px;
    }
}


ion-card {
    height: min-content;
    .title {
        color: white;
        font-size: 25px;
    }
    ion-text {
        line-height: 2.5em;
    }

    ion-label {
        color: white;
        font-size: 18px;
    }


    ion-segment {

        background-color: transparent !important;
        padding: 1em 0 1em 0;
        margin: 0;
        --indicator-color: #d92528;

        ion-segment-button {
            --color-checked: white !important;
            --background-checked: #d92528;
            --indicator-color: #d92528;
            --background-focused-opacity: 50;
            border: 1px solid #d92528;
            margin: 5px;
            ion-label {
                font-size: 13px !important;
                color: grey;
            }
        }
    }

    .cardContainer{
        text-align: center;
        margin-bottom: 10;
    }

  .grid-full {

        ion-col {
            flex: 0 0 50%;
            max-width: 48%;
            padding: 10 px 0;
        }
        .row {
            padding: 0;
        }
        .col {
            padding: 10 px 0;
        }

        .tableCard{

            align-items: center; 
            margin: 0 0 12px 12px;
            padding: 14px;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.10);
            border-radius: 4px;
            // background-color: #d92528;
            color: white;
            text-align: center;
            vertical-align: middle;

    
            &.selected {
                opacity: 0.15;
            }
    
            }

       
       
        }


    .table-item {
        content: '';
        height: 20px;
        width: 60px;
        background-color: linen;
        margin: 10px 0 10px 0;
        border-radius: 4px;
        &.disabled {
            pointer-events: none;
            background-color: silver;
        }

        &.selected {
            background-color: orange;
        }
    }
}
