<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<div class="top">

  <ion-icon name="person-circle" class="profilepic"></ion-icon> <br>
  <ion-text> {{firstName}} {{lastName}} </ion-text>

</div>
   

   <ion-button expand="full" >{{userEmail}}</ion-button>
   <ion-button expand="full" >{{firstName}}</ion-button> 
   <ion-button expand="full" >{{lastName}}</ion-button> 
   <ion-button expand="full" >{{phone}}</ion-button>



</ion-content>
<ion-footer (click)="logout()">
  <ion-toolbar >
    <ion-title text-center>Log out</ion-title>
  </ion-toolbar>
</ion-footer>
