
ion-content{

    --ion-background-color:#141a26;
}

.logo{

    padding-top: 3%;
    
    ion-button{
        --background:#354055; 
        --border-color:  #d92528;
        --border-radius: 9px;
        --border-width: 5px;
        --background-hover: #d92528;
        --background-hover-opacity: 100%; 
        --background-activated: #d92528c0;
    }

    img { 
        width: 50%;
        height: auto;
        margin-left: -3%;
     
      }

    
}


  h1{
      color: #d92528;
      padding-left: 20px;
      padding-top: 0px;
     
  }

  ion-item.restaurant{


    padding-top: 3%;
    padding-bottom: 3%;


    ion-label{

        --color: white;

    }

    ion-thumbnail{
        --size: 100;
        --border-radius: 15px;
       
    }

    img{
        height:auto;
        width: auto;
    }

    ion-button{
        --background:#354055; 
        --border-color:  #d92528;
        --border-radius: 9px;
        --border-width: 5px;
        --background-hover: #d92528;
        --background-hover-opacity: 100%;  
        --background-activated: #d92528c0;
    }

  }

 
 


  