ion-content{

    --ion-background-color:#141a26;
}

.logo{

    --ion-background-color:#141a26;

}

img { 
    width: 50%;
    height: auto;
    padding: 5px;
  }

  h1{
      color: #d92528;
      padding-left: 20px;
      padding-top: 0px;
  }

  ion-avatar{

    width: 50%;
    height: auto;
    padding: 5px;
  
  }


  