<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="title">

    <ion-item class="logo" lines="none">

        <img src="assets/img/menu.png" class="menu">

    </ion-item>

    <ion-row>

      <h1>Restaurant</h1>

    </ion-row>

    <ion-item *ngFor="let restaurants of restList" class="restaurant" lines="none" >

      <ion-thumbnail slot="start">

        <img src="{{restaurants.restThumbnail}}">

      </ion-thumbnail>

      <ion-label>{{restaurants.restName}}</ion-label>

      <ion-button fill="solid" (click)="resInfo(restaurants.uid)">VIEW</ion-button>

    </ion-item>


</ion-content>
