<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>


    <ion-title>Booking Details</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content>

  <ion-card class="details">

    <img src="https://firebasestorage.googleapis.com/v0/b/bitenow-bc93b.appspot.com/o/miraj.PNG?alt=media&token=ada3c392-2cbe-4484-a7c2-3128939c4514" />

    <ion-card-header>
      <ion-card-subtitle>{{date}}</ion-card-subtitle>
      <ion-card-title>{{restName}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Booking ID: {{bookingID}}
    </ion-card-content>

    <ion-card-content>
      User: {{userName}}
    </ion-card-content>

    <ion-card-content>
      Time: {{time}}
    </ion-card-content>

    <ion-card-content>
      No. of person: {{noPerson}}
    </ion-card-content>

    <ion-card-content>
      Table: {{tableNo}}
    </ion-card-content>

  </ion-card>

  <ion-card class="reminder">

    <ion-card-header>
      <ion-card-title>Reminder</ion-card-title>
    </ion-card-header>

        <ion-card-content>
          <ul>
            <li>The booking is only valid 1 hours from the booking time.</li>
            <li>Please show the booking details upon arrival at the restaurant.</li>
            <li>Please cancel the booking if you cannot make it.</li>
          </ul>
        
    </ion-card-content>

  </ion-card>

  <ion-footer>

    <ion-toolbar>
  
      <ion-button fill="solid" expand='block' (click)="showAlert()">Cancel Booking</ion-button>
  
    </ion-toolbar>
  
  </ion-footer>

</ion-content>
