ion-content{

    --ion-background-color:#141a26;
}


.logo{

    --background:#141a26;

    padding-top: 3%;

    img { 
        width: 50%;
        height: auto;
        margin-left: -3%;
     
      }

    
}
