ion-content.background{
  --background: url(../../assets/img/background.png) 0 0/100% 100% no-repeat;

}


ion-button{
  --background:#97393bc5; 
  --border-color:  #d92528;
  --border-radius: 9px;
  --border-width: 5px;
  --background-hover: #d92528;
  --background-hover-opacity: 100%;  
  --background-activated: #d92528c0;
}

a{
  color: #d92528;

}
  
  p{
    color:white;
  }

  ion-input{
    color:white;
  
  }
  
  .error-message{
    color:white;
  }

  .success-message{
    color:white;
  }
  
  
  